<%layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

        <body>
            
        
        <h3>Edit this Listing</h3>
        <br>
        <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" , value="<%=listing.title %>" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>

            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" class="form-control" id="description" required><%=listing.description %></textarea>
                <div class="invalid-feedback">Enter valid and short description!</div>
            </div>

            <div class="mb-3">
                Original Listing Image<br>
                <img src="<%=originalImageUrl %>" alt="image" class="edit_image" />
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload New Listing Image</label>
                <input 
                type="file" 
                name="listing[image]" 
                class="form-control" 
                >
            </div>

            
            <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label" >Price</label>
                <input type="number" name="listing[price]" value="<%=listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid price value!</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%=listing.country %>" class="form-control" required> 
                <div class="invalid-feedback">Enter Valid country name!</div>
            </div>
            
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" value="<%=listing.location %>" class="form-control">
                <div class="invalid-feedback">Location should be valid!</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" id="category" class="form-select form-select-sm mb-3">
                    <option selected><%= listing.category %></option>
                    <option value="mountains">Mountain</option>
                    <option value="hotel">Hotel</option>
                    <option value="hill-station">Hill Station</option>
                </select>
            </div>

           

            


           
            <button class="btn btn-dark edit-btn col-3 offset-3 mt-3 btn1 mb-4">Edit</button>
       

        </form>



        </form>
        </body>
    </div>
</div>
    <script src="/js/script.js"></script>